body {
    background-color: yellow;
    border-radius: 10px;
  }
  
  h3 {
    color: red;
    border-radius: 10px;
  }
  
  p {
    color: orange;
    border-radius: 10px;
  }
  
  .container {
    background-color: white;
    border-radius: 10px;
  }