/* Chinese-inspired Red and Yellow Theme */

body {
    background-color: rgb(22, 8, 155);
}

a {
    color: rgb(28, 130, 40);
}

/* Styling for the button */
.btn-primary {
    background-color: rgb(19, 216, 78);
    color: white;
}

/* Styling for the container */
.container {
    border: 2px solid rgb(8, 11, 99);
}
