/* Define global styles */
body {
    background-color: rgb(22, 8, 155);
    border-radius: 10px;
  }
  
  /* Define styles for the contact section */
  contact {
    background-color: rgb(19, 216, 78);
    padding: 20px;
    border-radius: 10px;
  }
  
  /* Define styles for the heading */
  h3 {
    color: white;
    text-align: center;
    border-radius: 10px;
  }
  
  /* Define styles for the contact information */
  ul {
    list-style-type: none;
    padding: 0;
    border-radius: 10px;
  }
  
  li {
    color: white;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
  }
  
  /* Define styles for the download link */
  a {
    color:rgb(22, 8, 155);
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
  }
  