/* Navbar */
.navbar {
    background-color: rgb(22, 8, 155);
  }
  
  .navbar-brand {
    color: white;
  }
  
  .nav-link {
    color: white
  }
  
  /* Active tab */
  .nav-link.active {
    background-color:rgb(22, 8, 155);
    color: white
  }
  
  /* Container */
  .container {
    background-color:rgb(8, 11, 99);
    color: white
  }
  
  /* Project images */
  .img-thumbnail {
    border-color: #ffff00; /* yellow */
  }

  .samplecard{
    width: 50%;
    max-width: 50%;
    margin: "1rem";
    height: auto;
    text-align: center;
  }